@import url(trash.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh; }

a {
  text-decoration: none;
  outline: none; }

[class^="slide-"] {
  display: grid;
  place-items: center; }

header {
  padding: 10px 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 9px 5px -5px rgba(34, 60, 80, 0.6);
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between; }
  header h1 {
    font-family: Arial, serif;
    color: rgba(40, 46, 62, 0.6);
    cursor: pointer; }
  header .buttons {
    display: flex;
    align-items: center; }
    header .buttons button:first-of-type {
      margin-right: 10px; }

main {
  display: grid;
  gap: 0;
  height: 100vh;
  grid-template-columns: 1fr 3fr 2fr;
  z-index: 0;
  position: relative; }
  main .slide-main {
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f5f4f4; }
    main .slide-main .slideTitle {
      font-family: Arial, serif;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 30px; }
    main .slide-main .slideGraph {
      display: flex;
      width: 100%;
      justify-content: center;
      background: #ffffff; }
      main .slide-main .slideGraph .slidePic img {
        max-width: 300px; }
  main .slide-edit {
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    padding: 75px 50px;
    justify-content: flex-start;
    align-items: flex-start; }
    main .slide-edit .questionTitle {
      font-size: 18px;
      margin-bottom: 10px; }
    main .slide-edit .addQuestion {
      margin-top: 10px;
      border: 1px solid #000000;
      border-radius: 15px; }
    main .slide-edit .category {
      margin-top: 10px; }
    main .slide-edit .radioBtn {
      display: flex;
      align-items: center;
      margin-top: 15px; }
      main .slide-edit .radioBtn label {
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
        margin-top: 3px; }
      main .slide-edit .radioBtn input {
        cursor: pointer; }
    main .slide-edit .options {
      margin-top: 30px; }
      main .slide-edit .options .optionsTitle {
        font-size: 18px; }
      main .slide-edit .options .optionItems {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px; }
        main .slide-edit .options .optionItems .optionItem {
          margin-top: 10px; }
    main .slide-edit .upload {
      display: none;
      margin-top: 10px; }
  main .slide-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    main .slide-menu .addSlide {
      margin-top: 10px; }
    main .slide-menu .slideList {
      display: flex;
      flex-direction: column;
      width: 100%; }
      main .slide-menu .slideList .slideMini {
        display: flex;
        margin-top: 15px;
        cursor: pointer;
        width: 100%;
        justify-content: center;
        background: #ffffff;
        padding: 15px 0;
        transition: all 0.4s; }
        main .slide-menu .slideList .slideMini .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          main .slide-menu .slideList .slideMini .info p {
            font-size: 12px; }
          main .slide-menu .slideList .slideMini .info button {
            border: none;
            background: transparent; }
        main .slide-menu .slideList .slideMini .pic {
          width: 150px;
          height: 70px;
          border-radius: 10px;
          border: 1px solid #c4c4c4;
          background: #fff;
          margin-left: 10px;
          transition: all 0.4s; }
      main .slide-menu .slideList .activeMini {
        background: #a9d0dc; }
        main .slide-menu .slideList .activeMini .pic {
          border-color: #1f829f; }

.mainLogin {
  display: flex;
  justify-content: center; }
  .mainLogin .loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }

.entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px; }
  .entry .presList {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap; }
    .entry .presList .presItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      margin-right: 15px;
      background: #c4c4c4;
      border-radius: 10px;
      -webkit-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      -moz-box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      box-shadow: 4px 4px 8px 1px rgba(69, 120, 201, 0.29);
      transition: all 0.4s;
      cursor: pointer; }
      .entry .presList .presItem .window {
        width: 100%;
        height: 50px;
        background: #ffffff; }
      .entry .presList .presItem .title {
        margin-top: 15px;
        font-family: Arial, sans-serif; }
      .entry .presList .presItem:hover {
        transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
